name: Build Windows

on:
  push:
    branches: ["main", "ci/build-windows"]

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: x86_64-pc-windows-msvc

      - name: Build release
        run: cargo build --release

      - name: Upload binary
        uses: actions/upload-artifact@v4
        with:
          name: rs-voxie-windows-msvc
          path: target/release/rs-voxie.exe
